  
        h1 {color:blueviolet;}
        img {width: 480px;}
        #thirdDiv {
            height: 500px;
            width: 600px;
            background-color: blueviolet;
            padding: 50 px;
            border: 10px solid orange;
            
        }

        #spanId {
            font-size: 18px;
            margin: 50px;
        }

    
