
       h1 
       
       {color:blueviolet;
        display: flex;
        justify-content: center;
    }
        img {
            width: 480px;
            }

        #thirdDiv {
            margin-left: 250;
            display: flex;
            justify-content: center;
            background-color: red;
            height: 500px;
            width: 600px;
            display: flex;
            padding: 50px;
            border: 10px solid orange;
            
            
        }

        #spanId {
            
            font-size: 18px;
            margin: 50px;
            display: flex;
            justify-content: center;
           

        }

        #a 
        {display: flex;
            justify-content: center;
             }

        body
        {
            background-image: url(./imagen/fondo\ pantalla\ leo.png);}
            
        
        h3{
        color:blueviolet;
        display: flex;
        justify-content: center;
        }

        h4{
        color:blueviolet;
        display: flex;
        justify-content: center;
        }





    
